* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: Popins;
  src: url(../fonts/Poppins/Poppins-Medium.ttf);
}
body {
  font-family: Popins;
  font-size: 16px;
}
.container {
  max-width: 1178px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header {
  width: 100%;
  //! tophead is here , top head is here
  .topHeader {
    width: 100%;
    padding: 12px 0px;
    background-color: #007878;
    padding-inline: 2%;
    .top {
      display: flex;
      align-items: center;
      gap: 10px;
      color: white;
      li {
        display: flex;
        align-items: center;
      }
    }
    .right {
      gap: 0px;
      list-style-type: none;
      li {
        padding: 0px 20px;
        border-right: 1px solid white;
      }
      :nth-child(3) {
        border: none;
        padding: 0px 0px 0px 20px;
      }
      a {
        text-decoration: none;
        color: white;
        font-size: 14px;
        font-weight: 500;
      }
    }
  }
  //! center head is here center head is here center head is here
  .centerHeader {
    width: 100%;
    padding: 28px 2%;
    .container {
      h1 {
        font-size: 40px;
      }
      input[type="text"] {
        width: 45%;
        background-image: url("../images/search.svg");
        background-repeat: no-repeat;
        background-position: right center;
        background-size: 46px 20px;
        padding: 12px 36px 12px 12px;
        background-color: #f7f9fc;
        border: none;
        outline: none;
        border-radius: 8px;
        font-size: 16px;
        line-height: 19.2px;
        margin-left: 5%;
      }
      ::placeholder {
        color: #aaaaaa;
      }
      .buttons {
        width: 25%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        button {
          display: flex;
          align-items: center;
          background: none;
          border: none;
          cursor: pointer;
          p {
            margin-left: 7px;
            color: #2e2e2e;
            font-weight: 500;
            font-size: 14px;
            line-height: 16.8px;
          }
        }
      }
    }
  }
  //! bottom header bottom header bottom header
  .bottomHeader {
    width: 100%;
    padding: 20px 2%;

    .container {
      ul {
        display: flex;
        justify-content: space-between;
        width: 73%;
        list-style-type: none;
        li {
          a {
            text-decoration: none;
            color: #273142;
            font-size: 16px;
            line-height: 27.2px;
          }
        }
      }
    }
  }
}
main {
  .salesintro {
    width: 100%;
    background-color: #ffe2e0;
    padding: 25px;
    .container {
      flex-wrap: wrap;
      .textarea {
        width: 38%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        p {
          color: #212121;
          font-size: 16px;
          font-weight: 400;
        }
        button {
          width: 45%;
          background-color: #206363;
          padding: 12px 26px;
          color: white;
          font-weight: 500;
          font-size: 16px;
          border-radius: 8px;
          border: none;
        }
      }
      span {
        color: #df4244;
        font-size: 24px;
        font-weight: 500;
      }
    }
  }
}
@media (max-width: 992px) {
  header {
    .topHeader {
      .container {
        .top {
          gap: 2px;
          img {
            width: 15px;
            height: 15px;
          }
          p,
          li a {
            font-size: 10px;
          }
          li {
            padding: 0px 3px;
          }
        }
      }
    }
    .centerHeader {
      padding: 12px;
      .container {
        flex-wrap: wrap;
        .logo {
          width: 100px;
        }
        .buttons {
          button {
            p {
              display: none !important;
            }
          }
        }
        input[type="text"] {
          margin-left: 0px;
          order: 2;
          width: 100%;
          margin-top: 10px;
        }
        .icon {
          width: 20px;
        }
      }
    }
    .bottomHeader {
      .container {
        ul {
          width: 100%;
          flex-wrap: wrap;
          justify-content: flex-start;
          align-items: center;
          gap: 20px;
        }
      }
    }
  }
  main {
    .salesintro {
      .container {
        .textarea {
          width: 100%;
          button {
            width: 100%;
          }
        }
        img {
          width: 280px;
        }
      }
    }
  }
}
