* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
}
form {
  width: 60%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 50px;
  div {
    width: 45%;
  }
}
label {
  color: white;
  margin-top: 25px;
}
input {
  width: 100%;
  background-color: black;
  border: 1px solid white;
  outline: none;
  color: white;
  border-radius: 5px;
  padding: 5px 10px;
  margin-top: 10px;
}
.phone {
  width: 100%;
}
